<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>

  <h2>Login</h2>

  <form action="http://localhost:5000/login" method="get">
    <input type="text" name="user" placeholder="Brukernavn"><br><br>
    <input type="password" name="pass" placeholder="Passord"><br><br>
    <input type="mobile" name="mobile" placeholder="Mobilnummer"><br><br>
    <input type="submit" value="Logg inn">
  </form>

  <a href="signup.html">Registrer ny bruker</a></p>


  <p style="font-size:small; color:gray;">
    <strong>Personvernerklæring:</strong> Dine personopplysninger brukes kun til innlogging og lagres sikkert. Passord lagres aldri i klartekst. Opplysningene deles ikke med andre.
  </p>

</body>
</html>